<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Prediction Result</title>
</head>
<body>
    <div class="w3-bar w3-border w3-light-grey">
        <a href = "/" class="w3-bar-item w3-button">Home</a>
        <a href = "/stock" class="w3-bar-item w3-button">Time-series prediction</a>
        <a href = "/imageCompression" class="w3-bar-item w3-button">Compression</a>

    </div>
    
    <h1>Stock Prediction</h1>
    <p>{{ prediction }}</p>
    <img src="{{ url_for('static', filename='stock_data.png') }}" alt="Stock Data Plot">

    <h1>{{ prediction_string }}</h1>
</body>
</html>
